DotNet/FileSum/bin
DotNet/FileSum/obj
DotNet/HelloWorld/bin
DotNet/HelloWorld/obj
DotNet/NumberGuessingGame/bin
DotNet/NumberGuessingGame/obj
DotNet/StringPerformance/bin
DotNet/StringPerformance/obj
DotNet/OOPDemo/bin/
DotNet/OOPDemo/obj/
DotNet/LINQDemo/bin/
DotNet/LINQDemo/obj/
/DotNet/AspNetMvcDemo1/.vscode
/DotNet/AspNetMvcDemo1/bin/Debug/net9.0
/DotNet/AspNetMvcDemo1/obj
/DotNet/AspNetMvcDemo2/.vs/AspNetMvcDemo2
/DotNet/AspNetMvcDemo2/AspNetMvcDemo2/bin/Debug/net9.0
/DotNet/AspNetMvcDemo2/AspNetMvcDemo2/obj
DotNet/SQLiteDemo/bin/
DotNet/SQLiteDemo/obj
DotNet/EfDemo1/bin/
DotNet/EfDemo1/obj
/DotNet/AspNetMvcDemo2/.vs/ProjectEvaluation
/DotNet/EfDemo2/.vs/EfDemo2
/DotNet/EfDemo2/EfDemo2/bin/Debug/net9.0
/DotNet/EfDemo2/EfDemo2/obj
/AspNetWebApiDemo1/.vscode
/AspNetWebApiDemo1/bin/Debug/net9.0
/AspNetWebApiDemo1/obj
