DotNet/FileSum/bin
DotNet/FileSum/obj
DotNet/HelloWorld/bin
DotNet/HelloWorld/obj
DotNet/NumberGuessingGame/bin
DotNet/NumberGuessingGame/obj
DotNet/StringPerformance/bin
DotNet/StringPerformance/obj
DotNet/OOPDemo/bin/
DotNet/OOPDemo/obj/
